.App {
  text-align: center;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.card {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  /* grid-template-rows: 1.2fr;  */
  grid-template-areas: "image Text"; 
  background-color: orange;
  align-items: center;
  height: 100vh;  
  width: 100vw;
  overflow: hidden;
}

.item {
  margin-bottom: 80%;
}

.text { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: Text; 
  overflow-y: scroll;
  padding: 20px;
  max-height: 75%;
}

/* .image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: absolute;
} */

.image-stack__item {
  opacity: 0;
  position: absolute;
  left:15%;
  top:25%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .image-stack__item--bottom {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
  .image-stack__item--top {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.image-stack__item--bottom-transition {
    opacity: 1;
    transform: none;
}

.image-stack__item--bottom-transition {
  opacity: 0;
  transform: none;
} */