.App {
  text-align: center;
  overflow: hidden;
}

body {
  overflow: hidden;
}

/* .card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
} */


/* .image {
  position:absolute;

} */

.card {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  /* grid-template-rows: 1.2fr;  */
  grid-template-areas: "image Text"; 
  background-color: orange;
  align-items: center;
  height: 100vh;  
  width: 100vw;
  overflow: hidden;
}

.image { 
  display: flex;
  position: relative;
  grid-area: "image"; 
  justify-self: center;
  align-self: center;
  
}

.Text { 
  display: flex;
  grid-area: Text; 
  justify-self: center;
  overflow-y: scroll;
  padding: 20px;
  max-height: 50%;
}

.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack__item--top {
  grid-column: 4 / -12; /* Change to 4 / -1 */
  z-index: 1;
  opacity: 1; /* To be changed on scroll */
}
  
.image-stack__item--bottom {
  grid-column: 4 / -1;
  opacity: .5; /* To be changed on scroll */
}